@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Esse é um aplicativo de gestão de Imobiliaria.</p>
    <div>
        <p>
            Para realizar esse projeto, utilizei o dotnet com o framewok MVC para implementar as seguintes funcionalidades:
        </p>
        <p>Gestão de Clientes</p>
        <p>Gestão de Cobrnças</p>
        <p>Gestão de Imoveis</p>
        <p>Gestão dos Contratos<p>
    </div>
    <div>
        <p>
            No processo de desenvolvimento utilizei o Padrão de Projeto, Injeção de Independêcia com o EntityFramework. Para a modelagem do <br/>
            banco de dados utilizei uma técnica de code first, assim a modelagem do banco de dados é o reflexo do diagrama de classes.<br/>
            A instância do banco está publicada na Azure assim como esse projeto. 
        </p>
        <p>
            O código fonte está disponível no <a href="https://github.com/LaercioNazareno/Locadora_Imoveis">GitHub</a>
        </p>
    </div>
</div>
